## Predict Student Performance from Game Play

In [11]:
import pandas as pd
import numpy as np

### Reading the train data logs

In [12]:
FOLDERPATH = "./data/"

In [13]:
df_train = pd.read_csv(FOLDERPATH + "train.csv")
print(f"The train dataset contains {df_train.shape[0]} rows and {df_train.shape[1]} columns")

df_train.head(10)

The train dataset contains 26296946 rows and 20 columns

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
5,20090312431273200,5,3423,person_click,basic,0,NaN,-412.991405,-157.314686,381.0,492.0,NaN,"Sure thing, Jo. Grab your notebook and come up...",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
6,20090312431273200,6,5197,person_click,basic,0,NaN,478.485079,-199.971679,593.0,485.0,NaN,"See you later, Teddy.",teddy,tunic.historicalsociety.closet,tunic.historicalsociety.closet.teddy.intro_0_cs_0,0,0,1,0-4
7,20090312431273200,7,6180,person_click,basic,0,NaN,503.355128,-168.619913,609.0,453.0,NaN,I get to go to Gramps's meeting!,teddy,tunic.historicalsociety.closet,tunic.historicalsociety.closet.teddy.intro_0_cs_0,0,0,1,0-4
8,20090312431273200,8,7014,person_click,basic,0,NaN,510.733442,-157.720642,615.0,442.0,NaN,Now where did I put my notebook?,teddy,tunic.historicalsociety.closet,tunic.historicalsociety.closet.teddy.intro_0_cs_0,0,0,1,0-4
9,20090312431273200,9,7946,person_click,basic,0,NaN,512.048005,-153.743631,616.0,438.0,NaN,\u00f0\u0178\u02dc\u00b4,teddy,tunic.historicalsociety.closet,tunic.historicalsociety.closet.teddy.intro_0_cs_0,0,0,1,0-4

In [18]:
CATEGORICAL_COLS = ['event_name', 'name','fqid', 'room_fqid', 'text_fqid', "fullscreen", "hq", "music"]
NUMERICAL_COLS = ['elapsed_time','level','page','room_coor_x', 'room_coor_y', 'screen_coor_x', 'screen_coor_y', 'hover_duration']

### Reading the train labels

In [19]:
train_labels = pd.read_csv(FOLDERPATH + "train_labels.csv")
print(train_labels.shape)
train_labels.head()

(424116, 2)

             session_id  correct
0  20090312431273200_q1        1
1  20090312433251036_q1        0
2  20090312455206810_q1        1
3  20090313091715820_q1        0
4  20090313571836404_q1        1

In [20]:
train_labels['session'] = train_labels.session_id.apply(lambda x: int(x.split('_')[0]) )
train_labels['q'] = train_labels.session_id.apply(lambda x: int(x.split('_')[-1][1:]) )
print(train_labels.shape)
train_labels.head(5)

(424116, 4)

             session_id  correct            session  q
0  20090312431273200_q1        1  20090312431273200  1
1  20090312433251036_q1        0  20090312433251036  1
2  20090312455206810_q1        1  20090312455206810  1
3  20090313091715820_q1        0  20090313091715820  1
4  20090313571836404_q1        1  20090313571836404  1

### Labels for one ID

In [21]:
res = train_labels[train_labels["session"] == 20090312431273200]
print(res.shape)
res.head(50)

(18, 4)

                   session_id  correct            session   q
0        20090312431273200_q1        1  20090312431273200   1
23562    20090312431273200_q2        1  20090312431273200   2
47124    20090312431273200_q3        1  20090312431273200   3
70686    20090312431273200_q4        1  20090312431273200   4
94248    20090312431273200_q5        1  20090312431273200   5
117810   20090312431273200_q6        1  20090312431273200   6
141372   20090312431273200_q7        1  20090312431273200   7
164934   20090312431273200_q8        1  20090312431273200   8
188496   20090312431273200_q9        1  20090312431273200   9
212058  20090312431273200_q10        1  20090312431273200  10
235620  20090312431273200_q11        1  20090312431273200  11
259182  20090312431273200_q12        1  20090312431273200  12
282744  20090312431273200_q13        0  20090312431273200  13
306306  20090312431273200_q14        1  20090312431273200  14
329868  20090312431273200_q15        1  20090312431273200  15
353430  20090312431273200_q16        0  20090312431273200  16
376992  20090312431273200_q17        1  20090312431273200  17
400554  20090312431273200_q18        1  20090312431273200  18